body {
  display: block;
  overflow-x: hidden;
}
nav {
  background-color: #DEE1FF;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar-brand {
  font-size: 36px;
  /* text-transform: uppercase; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #36382E;
}
nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}
nav ul li a:hover {
  color: #36382E;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
section h1 {
  /* text-transform: uppercase; */
  color: #007FFF;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Karma', serif;
  font-weight: 700;
}
section p {
  font-size: 16px;
  font-weight: 300;
}
button {
  max-width: 50%;
  border-radius: 50px !important;
}

a {
  color: #007FFF;
  font-weight: bolder;
}

.card-title {
  color: #36382E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.card {
  background-color: #F2F9FC;
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
#hero .img-col {
  justify-content: flex-end;
  margin-top: 100px;
  margin-right: 100px;
}
#hero img {
  max-width: 130% !important;
  width: 130%;
}
#hero .card {
  box-shadow: 11px 7px 16px #EDE6E3;
  border: 0;
  text-align: center;
}
#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.top-buffer {
  margin-top:60px;
}

/* #projects .projects {
  margin-bottom: 50px;
} */


#contact {
  text-align: center;
  background-color: #B6E4F6;
  color: #36382E;
}
#contact h1 {
  text-align: center;
  color: #EDE6E3;
}
